.bg-box{
    width: 1000px;
    height: 600px;
    border: 1px solid;
    background-color: darkgreen;
    background-image:
     url(./img/pole-zelen-trava-dom-derevya.webp),
     url(./img/green-png-44873.png),
     url(./img/lamp-png-34914.png),
     url(./img/58eb07b830eab15b56162788.png),
     url(./img/3F3F.webp);
    background-size: 
     400px,
     150px,
     40px,
     20px,
     20px;
    background-repeat:
     no-repeat,
     repeat-x,
     repeat-x,
     repeat-y,
     repeat-y;
    background-position:
     center,
     bottom,
     top,
     right,
     left;
} 